.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  margin-top: 60px;
  padding-top: 80px;
}

/* Left side styles for contact info */
.contact-info {
  flex: 1;
  margin-right: 5px;
  text-align: left;
}

.contact-info h1 {
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact-info p {
  margin: 10px 0;
}

.contact-info .contact-detail {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.contact-info .contact-content {
  font-weight: normal;
  font-size: 0.9em;
  margin-bottom: 10px;
}

/* Right side styles for the form */
.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.name-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.field {
  flex: 1;
  margin-right: 10px;
}

.contact-form label {
  margin-top: 5px;
  font-weight: bold;
  display: block;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.contact-form textarea {
  height: 120px;
}

.contact-form button {
  margin-top: 15px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.contact-form button:hover {
  background-color: grey;
}

/* Success and error messages */
.success-message {
  color: green;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 10px;
  }

  .contact-info {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contact-form {
    margin-left: 0;
    width: 100%;
    align-items: center;
  }

  .name-fields {
    flex-direction: column;
  }

  .field {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    width: 70vw;
    box-sizing: border-box;
  }
}
